<div class="container">
  <div class="row-align-center">
    <div class="col-sm-12 text-center font-weight-bold bg-info">
      <h3> This Is My Website</h3>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 bg-success">
          <ul style="list-style: none">
            <li>
              <input type="button" class="btn" value="Home" routerLink="/Homepage" routerLinkActive="active">
            </li>
            <li>
              <input type="button" class="btn" value="About Us" routerLink="/Aboutuspage" routerLinkActive="active">
            </li>
            <li>
              <input type="button" class="btn" value="Contact Us" routerLink="/Contactuspage" routerLinkActive="active">
            </li>
          </ul>
        </div>
        <div class="col-sm-8 bg-warning">
        </div>
      </div>
    </div>
   </div>
    <router-outlet></router-outlet>
  